body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f2f2f2;
  color: #000;
}

/* Обёртка для центрирования */
.page-wrapper {
  padding: 16px;
}

/* Общий белый блок */
.container {
  background: #ffffff;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

/* Заголовок */
h1 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 24px;
  color: #000;
}

/* Основной текст */
.main-text {
  font-size: 17px;
  line-height: 1.4;
  margin-bottom: 24px;
  color: #000;
}

/* Кнопки-ссылки */
.link-btn {
  display: block;
  margin-bottom: 12px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

/* Эффект нажатия */
.link-btn:active {
  opacity: 0.85;
}

  
  .card {
    margin-bottom: 24px;
    padding: 12px;
    border-radius: 10px;
    background: var(--tg-theme-card-bg-color, #fff);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .card h3 {
    margin: 0 0 6px;
    font-size: 20px;
  }
  
  .card p {
    margin: 0 0 10px;
    font-size: 15px;
    color: black;
  }

  .address {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.4;
  }
  
  .map-wrapper {
    margin-bottom: 16px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  